.page-template-landing .nav_open {
    display: none;
}

.landing_wrap {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    min-height: 730px;
}

.page-template-landing .container {
    position: relative;
    height: 100%;
}

.landing {
    position: absolute;
    bottom: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.landing h1 {
    margin-top: 40px;
}

.landing_web {
    width: 255px;
}

.landing_branding {
    width: 366px;
}

.landing_branding_intro {
    margin-bottom: 140px;
}

.landing_branding p {
    margin-top: 20px;
}

.landing_link {
    align-self: flex-end;
}

.landing_link a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing_link_arrow {
    width: 44px;
    height: 44px;
    margin-left: 10px;
}

.landing_link img {
    width: 100%;
}

@media screen and (max-width:1279px) {
    .landing {
        display: block;
    }

    .landing_branding_intro {
        margin-bottom: 40px;
    }

    .landing_branding {
        margin-top: 60px;
    }

    .landing_link a {
        margin-top: 60px;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 425px) {
    .landing_branding {
        width: auto;
    }

    .landing_web {
        width: auto;
    }

    .landing h1 {
        margin-top: 25px;
    }

    .landing_wrap {
        top:160px;
    }
}